@font-face {
  font-family: "NeoDonggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

/* 주의사항 안내*/
.notice {
  text-align: center;
  font-family: "NeoDonggeunmo";
  font-size: 25px;
  color: #ffffff;
  height: 500px;
  width: 1000px;
  border: 10px solid #a21818;
  margin: auto;
  padding: 30px;
  margin-top: 10px;
  background-color: rgb(255, 161, 161);
}

.notice ul {
  text-align: left;
}
